//// animation menu mobile////
#wrapProfil, #wrapPost {
    z-index: 10;
    transition: transform .4s cubic-bezier(.25, .1, .25, 1);
    // transition: transform ;
    @include tablette_ecran{
      display: none;
    }
  }
  
  #wrapProfil:not(:target){ 
    transform: translate3d(-400px, -500px, 0);
  }
  
  #wrapPost:not(:target) {
    transform: translate3d(-400px, -500px, 0);
  }
  
  #wrapProfil:target,
  #wrapPost:target {
    transform: translate3d(0, 0, 0);
  }
  
  #openProfil,
  #closeProfil {
    text-align: right;
    color: $blanc;
    text-decoration: none;
    @include tablette_ecran{
      display: none;
    }
  }
  #openPost,
  #closePost {
    text-align: right;
    color: $gris3;
    text-decoration: none;
    @include tablette_ecran{
      display: none;
    }
  }
  
  #wrapProfil:target #open,
  #wrapProfil:not(:target) #close,
  #wrapPost:target #open,
  #wrapPost:not(:target) #close {
    display: none;
  }
  
  #wrapProfil:target #open,
  #wrapPost:target #open {
    display: none;
  }
  




    
  