//// animation menu mobile////
#cartoucheProfil, #cartouchePost {
    z-index: 10;
    transition: transform .4s cubic-bezier(.25, .1, .25, 1);
    // transition: transform ;
    @include tablette_ecran{
        transform: none;
    }
  }

  // section#filPost{
  //   transition: transform .4s cubic-bezier(.25, .1, .25, 1);
  // }
  
  #cartoucheProfil:not(:target){ 
    transform: translate3d(-400px, -500px, 0);
    @include tablette_ecran{
        transform: none;
      }
  }
  
  #cartouchePost:not(:target) {
    transform: translate3d(-400px, -500px, 0);
    @include tablette_ecran{
        transform: none;
      }
  }
  
  #cartoucheProfil:target,
  #cartouchePost:target {
    transform: translate3d(0, 0, 0);
    @include tablette_ecran{
        transform: none;
      }
  }

  // section#filPost:target {
  //   transform: translate3d(0px, -230px, 0);
  // }

  // section#filPost:not(:target) {
  //   transform: translate3d(0px, -230px, 0);
  // }
  
  #openProfil,
  #closeProfil {
    text-align: right;
    color: $blanc;
    text-decoration: none;
    @include tablette_ecran{
      display: none;
    }
  }
  #openPost,
  #closePost {
    text-align: right;
    color: $gris3;
    text-decoration: none;
    @include tablette_ecran{
      display: none;
    }
  }
  
  #cartoucheProfil:target #open,
  #cartoucheProfil:not(:target) #close,
  #cartouchePost:target #open,
  #cartouchePost:not(:target) #close {
    display: none;
    @include tablette_ecran{
        display: block;
      }
  }
  
  // #cartoucheProfil:target #open,
  // #cartouchepost:target #open {
  //   display: none;
  // }
  




    
  