button{
    width: 50%;
    height: 30px;
    font-weight: 700;
    border: none;
    color: $blanc;       
    margin-top: 3%;
    margin-bottom: 3%;     
    @include tablette_ecran{
        width: 25%;
        height: 35px;      
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 3%;
    }
}

.button-user{
    background-color: $groupomania_rouge_clair;
    width: 20%;
    margin: 0;
    @include tablette_ecran{
        background-color: $blanc;
    }
  }
